# Imports and config

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

# Explore excel

First step, let's explore the excel. I'll just read the excel into pandas, and see what I get, how I can cleanup.

In [4]:
asientos = pd.read_excel('plantilla.xlsx', sheet_name='simple')

In [5]:
asientos

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
2,NaN,2021-12-01 00:00:00,Compra pan,2.54,100,300,Caja,Comida,NaN,NaN,NaN
3,NaN,2021-12-02 00:00:00,Pizzas Telepizza,24,100,312,Caja,"Comidas, cenas…",NaN,Cuenta,Descripción
4,NaN,2021-12-03 00:00:00,Gasolina coche,54,1200,324,Tarjeta Visa,Gastos coche,NaN,300,Comida
5,NaN,2021-12-04 00:00:00,Hipoteca,524,1101,15,Cuenta nómina,Hipoteca,NaN,312,"Comidas, cenas…"
6,NaN,2021-12-05 00:00:00,Pago IBI,234,1101,203,Cuenta nómina,Impuestos casa,NaN,NaN,NaN

In [6]:
asientos.drop(columns='Unnamed: 0', inplace=True)

In [7]:
asientos.drop(labels=0, inplace=True)

In [8]:
asientos

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
2,2021-12-01 00:00:00,Compra pan,2.54,100,300,Caja,Comida,NaN,NaN,NaN
3,2021-12-02 00:00:00,Pizzas Telepizza,24,100,312,Caja,"Comidas, cenas…",NaN,Cuenta,Descripción
4,2021-12-03 00:00:00,Gasolina coche,54,1200,324,Tarjeta Visa,Gastos coche,NaN,300,Comida
5,2021-12-04 00:00:00,Hipoteca,524,1101,15,Cuenta nómina,Hipoteca,NaN,312,"Comidas, cenas…"
6,2021-12-05 00:00:00,Pago IBI,234,1101,203,Cuenta nómina,Impuestos casa,NaN,NaN,NaN

In [9]:
asientos.loc[1]

Unnamed: 1           Fecha
Unnamed: 2     Descripción
Unnamed: 3           Valor
Unnamed: 4            Debe
Unnamed: 5           Haber
Unnamed: 6         C. Debe
Unnamed: 7        C. Haber
Unnamed: 8             NaN
Unnamed: 9         Search:
Unnamed: 10         comida
Name: 1, dtype: object

In [10]:
asientos.columns = asientos.loc[1]

In [11]:
asientos

1,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
1,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
2,2021-12-01 00:00:00,Compra pan,2.54,100,300,Caja,Comida,NaN,NaN,NaN
3,2021-12-02 00:00:00,Pizzas Telepizza,24,100,312,Caja,"Comidas, cenas…",NaN,Cuenta,Descripción
4,2021-12-03 00:00:00,Gasolina coche,54,1200,324,Tarjeta Visa,Gastos coche,NaN,300,Comida
5,2021-12-04 00:00:00,Hipoteca,524,1101,15,Cuenta nómina,Hipoteca,NaN,312,"Comidas, cenas…"
6,2021-12-05 00:00:00,Pago IBI,234,1101,203,Cuenta nómina,Impuestos casa,NaN,NaN,NaN

In [12]:
asientos.drop(labels=1, inplace=True)

In [13]:
asientos

1,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
2,2021-12-01 00:00:00,Compra pan,2.54,100,300,Caja,Comida,NaN,NaN,NaN
3,2021-12-02 00:00:00,Pizzas Telepizza,24,100,312,Caja,"Comidas, cenas…",NaN,Cuenta,Descripción
4,2021-12-03 00:00:00,Gasolina coche,54,1200,324,Tarjeta Visa,Gastos coche,NaN,300,Comida
5,2021-12-04 00:00:00,Hipoteca,524,1101,15,Cuenta nómina,Hipoteca,NaN,312,"Comidas, cenas…"
6,2021-12-05 00:00:00,Pago IBI,234,1101,203,Cuenta nómina,Impuestos casa,NaN,NaN,NaN

In [14]:
asientos['Fecha'] = pd.to_datetime(asientos.Fecha)

In [15]:
asientos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 2 to 6
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      object
 3   Debe         5 non-null      object
 4   Haber        5 non-null      object
 5   C. Debe      5 non-null      object
 6   C. Haber     5 non-null      object
 7   nan          0 non-null      float64
 8   Search:      3 non-null      object
 9   comida       3 non-null      object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 440.0+ bytes

In [16]:
asientos

1,Fecha,Descripción,Valor,Debe,Haber,C. Debe,C. Haber,NaN,Search:,comida
2,2021-12-01,Compra pan,2.54,100,300,Caja,Comida,NaN,NaN,NaN
3,2021-12-02,Pizzas Telepizza,24,100,312,Caja,"Comidas, cenas…",NaN,Cuenta,Descripción
4,2021-12-03,Gasolina coche,54,1200,324,Tarjeta Visa,Gastos coche,NaN,300,Comida
5,2021-12-04,Hipoteca,524,1101,15,Cuenta nómina,Hipoteca,NaN,312,"Comidas, cenas…"
6,2021-12-05,Pago IBI,234,1101,203,Cuenta nómina,Impuestos casa,NaN,NaN,NaN

In [17]:
asientos['Valor'] = asientos['Valor'].astype(int)

# Importing and transforming

Ok, cleaning up is possible, but too complex. Now I'll use the parameters of read_excel to limit what I read, and get exactly the table that I want.

First I load the simple sheet.

In [18]:
simple = pd.read_excel('plantilla.xlsx', sheet_name='simple', usecols='b:f', parse_dates=[1], header=2)
simple

       Fecha       Descripción   Valor  Debe  Haber
0 2021-12-01        Compra pan    2.54   100    300
1 2021-12-02  Pizzas Telepizza   24.00   100    312
2 2021-12-03    Gasolina coche   54.00  1200    324
3 2021-12-04          Hipoteca  524.00  1101     15
4 2021-12-05          Pago IBI  234.00  1101    203

In [19]:
simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      float64
 3   Debe         5 non-null      int64
 4   Haber        5 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 328.0+ bytes

Now I load the compleja sheet, and after I will merge the two into the compleja format, so it can be easily uploaded to the database.

In [20]:
compleja = pd.read_excel('plantilla.xlsx', sheet_name='compleja', usecols='b:g', parse_dates=[2], header=2)
compleja

   id      Fecha                       Descripción  Debe  Haber  Cuenta
0   1 2021-12-03            Cena en el restaurante    50      0    1200
1   1 2021-12-03    Cena en el restaurante propina     3      0     100
2   1 2021-12-03            Cena en el restaurante     0     53     312
3   2 2021-12-05  Factura EDP - gas y electricidad   150      0    1101
4   2 2021-12-05                 Factura EDP - gas     0    120    2001
5   2 2021-12-05        Factura EDP - electricidad     0     30    2000

In [21]:
for n in compleja.index:
    print(compleja.loc[n]['Fecha'], compleja.loc[n]['Descripción'], compleja.loc[n]['Debe'], compleja.loc[n]['Haber'], compleja.loc[n]['Cuenta'])

2021-12-03 00:00:00 Cena en el restaurante 50 0 1200
2021-12-03 00:00:00 Cena en el restaurante propina 3 0 100
2021-12-03 00:00:00 Cena en el restaurante 0 53 312
2021-12-05 00:00:00 Factura EDP - gas y electricidad 150 0 1101
2021-12-05 00:00:00 Factura EDP - gas 0 120 2001
2021-12-05 00:00:00 Factura EDP - electricidad 0 30 2000

In [22]:
type(compleja.loc[0]['Debe'])

numpy.int64

In [23]:
compleja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6 non-null      int64
 1   Fecha        6 non-null      datetime64[ns]
 2   Descripción  6 non-null      object
 3   Debe         6 non-null      int64
 4   Haber        6 non-null      int64
 5   Cuenta       6 non-null      int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 416.0+ bytes

Here is the transformation from simple to compleja, adding the lines from simple into the compleja table:

In [24]:
last = len(compleja)
asiento = compleja.id.max()
for line in range(len(simple)):
    compleja.loc[last + 2*line, 'id'] = line + asiento + 1
    compleja.loc[last + 2*line+1, 'id'] = line + asiento + 1
    compleja.loc[last + 2*line, 'Fecha'] = simple.loc[line, 'Fecha']
    compleja.loc[last + 2*line+1, 'Fecha'] = simple.loc[line, 'Fecha']
    compleja.loc[last + 2*line, 'Descripción'] = simple.loc[line, 'Descripción']
    compleja.loc[last + 2*line+1, 'Descripción'] = simple.loc[line, 'Descripción']
    compleja.loc[last + 2*line, 'Debe'] = simple.loc[line, 'Valor']
    compleja.loc[last + 2*line, 'Haber'] = 0
    compleja.loc[last + 2*line, 'Cuenta'] = simple.loc[line, 'Debe']
    compleja.loc[last + 2*line+1, 'Debe'] = 0
    compleja.loc[last + 2*line+1, 'Haber'] = simple.loc[line, 'Valor']
    compleja.loc[last + 2*line+1, 'Cuenta'] = simple.loc[line, 'Haber']
compleja

     id      Fecha                       Descripción    Debe   Haber  Cuenta
0   1.0 2021-12-03            Cena en el restaurante   50.00    0.00  1200.0
1   1.0 2021-12-03    Cena en el restaurante propina    3.00    0.00   100.0
2   1.0 2021-12-03            Cena en el restaurante    0.00   53.00   312.0
3   2.0 2021-12-05  Factura EDP - gas y electricidad  150.00    0.00  1101.0
4   2.0 2021-12-05                 Factura EDP - gas    0.00  120.00  2001.0
5   2.0 2021-12-05        Factura EDP - electricidad    0.00   30.00  2000.0
6   3.0 2021-12-01                        Compra pan    2.54    0.00   100.0
7   3.0 2021-12-01                        Compra pan    0.00    2.54   300.0
8   4.0 2021-12-02                  Pizzas Telepizza   24.00    0.00   100.0
9   4.0 2021-12-02                  Pizzas Telepizza    0.00   24.00   312.0
10  5.0 2021-12-03                    Gasolina coche   54.00    0.00  1200.0
11  5.0 2021-12-03                    Gasolina coche    0.00   54.00   324.0
12  6.0 2021-12-04                          Hipoteca  524.00    0.00  1101.0
13  6.0 2021-12-04                          Hipoteca    0.00  524.00    15.0
14  7.0 2021-12-05                          Pago IBI  234.00    0.00  1101.0
15  7.0 2021-12-05                          Pago IBI    0.00  234.00   203.0

In [25]:
compleja.info() # validate the types are correct

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           16 non-null     float64
 1   Fecha        16 non-null     datetime64[ns]
 2   Descripción  16 non-null     object
 3   Debe         16 non-null     float64
 4   Haber        16 non-null     float64
 5   Cuenta       16 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.4+ KB

Finally, in order to update the database, I will only need the maximum value of "asiento", to be added to the id column here. For example, if the maximum value of asiento is 25, then I will just have all ids starting at 26.

In [26]:
compleja.id = compleja.id + 25
compleja

      id      Fecha                       Descripción    Debe   Haber  Cuenta
0   26.0 2021-12-03            Cena en el restaurante   50.00    0.00  1200.0
1   26.0 2021-12-03    Cena en el restaurante propina    3.00    0.00   100.0
2   26.0 2021-12-03            Cena en el restaurante    0.00   53.00   312.0
3   27.0 2021-12-05  Factura EDP - gas y electricidad  150.00    0.00  1101.0
4   27.0 2021-12-05                 Factura EDP - gas    0.00  120.00  2001.0
5   27.0 2021-12-05        Factura EDP - electricidad    0.00   30.00  2000.0
6   28.0 2021-12-01                        Compra pan    2.54    0.00   100.0
7   28.0 2021-12-01                        Compra pan    0.00    2.54   300.0
8   29.0 2021-12-02                  Pizzas Telepizza   24.00    0.00   100.0
9   29.0 2021-12-02                  Pizzas Telepizza    0.00   24.00   312.0
10  30.0 2021-12-03                    Gasolina coche   54.00    0.00  1200.0
11  30.0 2021-12-03                    Gasolina coche    0.00   54.00   324.0
12  31.0 2021-12-04                          Hipoteca  524.00    0.00  1101.0
13  31.0 2021-12-04                          Hipoteca    0.00  524.00    15.0
14  32.0 2021-12-05                          Pago IBI  234.00    0.00  1101.0
15  32.0 2021-12-05                          Pago IBI    0.00  234.00   203.0

# Dealing with errors

Now let's see what happens when the sheet is not completely filled, or contains errors. I want to understand how the dataframe will look like, so I can deal with them in python code.

In [27]:
def carga_plantilla(file):
    simple = pd.read_excel(file, sheet_name='simple', usecols='b:f', parse_dates=[1], header=2)
    compleja = pd.read_excel(file, sheet_name='compleja', usecols='b:g', parse_dates=[2], header=2)
    
    return simple, compleja

In [28]:
simple, compleja = carga_plantilla('plantilla_vacia.xlsx')
simple

   Fecha Descripción  Valor  Debe  Haber
0    NaN         NaT    NaN   NaN    NaN
1    NaN         NaT    NaN   NaN    NaN
2    NaN         NaT    NaN   NaN    NaN
3    NaN         NaT    NaN   NaN    NaN

In [29]:
compleja

   id  Fecha Descripción  Debe  Haber  Cuenta
0 NaN    NaN         NaT   NaN    NaN     NaN
1 NaN    NaN         NaT   NaN    NaN     NaN
2 NaN    NaN         NaT   NaN    NaN     NaN
3 NaN    NaN         NaT   NaN    NaN     NaN

In [30]:
simple, compleja = carga_plantilla('plantilla_parcial.xlsx')
simple

       Fecha Descripción  Valor   Debe  Haber
0 2021-12-01  Compra pan   2.54  100.0  300.0
1        NaT         NaN    NaN    NaN    NaN
2        NaT         NaN    NaN    NaN    NaN
3        NaT         NaN    NaN    NaN    NaN

In [31]:
compleja

    id      Fecha                     Descripción  Debe  Haber  Cuenta
0  1.0 2021-12-03          Cena en el restaurante  50.0    0.0  1200.0
1  1.0 2021-12-03  Cena en el restaurante propina   3.0    0.0   100.0
2  1.0 2021-12-03          Cena en el restaurante   0.0   53.0   312.0
3  NaN        NaT                             NaN   NaN    NaN     NaN

So empty templates produce NaN values. I need to detect those.

In [32]:
# True if any of the files in the row is NaN (or NaT)
compleja.loc[0].isnull().any()

False

In [33]:
# True if any of the files in the row is NaN (or NaT)
simple.loc[1].isnull().any()

True

In [34]:
simple.loc[1]

Fecha          NaT
Descripción    NaN
Valor          NaN
Debe           NaN
Haber          NaN
Name: 1, dtype: object

In [35]:
fecha, descripcion, valor, debe, haber = simple.loc[1]
fecha

NaT

In [36]:
simple, compleja = carga_plantilla('plantilla_errores.xlsx')
simple

                 Fecha       Descripción   Valor  Debe  Haber
0  2021-12-01 00:00:00        Compra pan    2.54   100  300.0
1                   23  Pizzas Telepizza   24.00   100  312.0
2  2021-12-03 00:00:00    Gasolina coche   54.00  1200    NaN
3  2021-12-04 00:00:00          Hipoteca  524.00  1101   15.0
4  2021-12-05 00:00:00          Pago IBI     NaN  1101  203.0

In [37]:
compleja

   id      Fecha                       Descripción   Debe  Haber  Cuenta
0   1 2021-12-03            Cena en el restaurante   50.0    0.0    1200
1   1 2021-12-03    Cena en el restaurante propina    3.0    0.0     100
2   1 2021-12-03            Cena en el restaurante    0.0   53.0     312
3   2 2021-12-05  Factura EDP - gas y electricidad  150.0    NaN    1101
4   2 2021-12-05                 Factura EDP - gas    0.0  120.0    2001
5   2 2021-12-05        Factura EDP - electricidad    NaN   30.0    2000

In [38]:
for mov in compleja.index:
    print(f"Fila: {mov} --", compleja.loc[mov].isnull().any())

Fila: 0 -- False
Fila: 1 -- False
Fila: 2 -- False
Fila: 3 -- True
Fila: 4 -- False
Fila: 5 -- True

In [39]:
for mov in simple.index:
    print(f"Fila: {mov} --", simple.loc[mov].isnull().any())

Fila: 0 -- False
Fila: 1 -- False
Fila: 2 -- True
Fila: 3 -- False
Fila: 4 -- True

In [40]:
compleja.drop(labels=3, axis=0)

   id      Fecha                     Descripción  Debe  Haber  Cuenta
0   1 2021-12-03          Cena en el restaurante  50.0    0.0    1200
1   1 2021-12-03  Cena en el restaurante propina   3.0    0.0     100
2   1 2021-12-03          Cena en el restaurante   0.0   53.0     312
4   2 2021-12-05               Factura EDP - gas   0.0  120.0    2001
5   2 2021-12-05      Factura EDP - electricidad   NaN   30.0    2000

In [41]:
type(compleja.loc[0, 'Fecha'])

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
isinstance(compleja.loc[0, 'Fecha'], pd.Timestamp)

True

In [43]:
type(compleja.loc[0, 'Descripción'])

str

In [44]:
float(compleja.loc[0, 'Descripción'])

ValueError: could not convert string to float: 'Cena en el restaurante'

In [45]:
float(compleja.loc[0, 'Fecha'])

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [46]:
var = compleja.loc[0, 'Haber']
isinstance(var, (int, float, np.float64, np.int64))

True

In [47]:
simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      object
 1   Descripción  5 non-null      object
 2   Valor        4 non-null      float64
 3   Debe         5 non-null      int64
 4   Haber        4 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 328.0+ bytes

I get errors due to Cuenta, Debe and Haber being interpreted as floats, instead of text or int. I need to parse them directly when reading the file.

In [48]:
simple = pd.read_excel('plantilla.xlsx', sheet_name='simple', usecols='b:f', parse_dates=[1], 
                       header=2, dtype={'Haber': str, 'Debe': str})

In [49]:
simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      float64
 3   Debe         5 non-null      object
 4   Haber        5 non-null      object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 328.0+ bytes

In [50]:
compleja = pd.read_excel('plantilla.xlsx', sheet_name='compleja', usecols='b:g', parse_dates=[2], header=2,
                        dtype={'Cuenta': str})

In [51]:
compleja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6 non-null      int64
 1   Fecha        6 non-null      datetime64[ns]
 2   Descripción  6 non-null      object
 3   Debe         6 non-null      int64
 4   Haber        6 non-null      int64
 5   Cuenta       6 non-null      object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 416.0+ bytes

In [54]:
simple['nf'] = simple.Fecha.dt.date
simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      float64
 3   Debe         5 non-null      object
 4   Haber        5 non-null      object
 5   nf           5 non-null      object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 368.0+ bytes

## Errors loading the file

In [66]:
# If the excel file does not have the expected sheet, we will get an error.
simple = pd.read_excel('cuentas.xlsx', sheet_name='simple', usecols='b:f', parse_dates=[1], 
                       header=2, dtype={'Haber': str, 'Debe': str})

ValueError: Worksheet named 'simple' not found

In [67]:
# using pd.ExcelFile
s = pd.ExcelFile('cuentas.xlsx')
'simple' in s.sheet_names

False

In [68]:
# using pd.ExcelFile to load a true sheet
s = pd.ExcelFile('plantilla.xlsx')
'simple' in s.sheet_names

True

In [69]:
# using pd.ExcelFile to load a true sheet
s = pd.ExcelFile('plantilla.xlsx')
if 'simple' in s.sheet_names:
    result = s.parse(sheet_name='simple', usecols='b:f', parse_dates=[1], 
                       header=2, dtype={'Haber': str, 'Debe': str})

In [72]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      float64
 3   Debe         5 non-null      object
 4   Haber        5 non-null      object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 328.0+ bytes

In [75]:
simple = pd.read_excel('plantilla.xlsx', sheet_name='simple', usecols='b:f', parse_dates=[1], 
                       header=2, dtype={'Haber': str, 'Debe': str})
simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      datetime64[ns]
 1   Descripción  5 non-null      object
 2   Valor        5 non-null      float64
 3   Debe         5 non-null      object
 4   Haber        5 non-null      object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 328.0+ bytes

In [77]:
result.columns

Index(['Fecha', 'Descripción', 'Valor', 'Debe', 'Haber'], dtype='object')

In [79]:
s = pd.DataFrame(columns=['Fecha', 'Descripción', 'Valor', 'Debe', 'Haber'])
s.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        0 non-null      object
 1   Descripción  0 non-null      object
 2   Valor        0 non-null      object
 3   Debe         0 non-null      object
 4   Haber        0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

In [80]:
compleja.columns

Index(['id', 'Fecha', 'Descripción', 'Debe', 'Haber', 'Cuenta'], dtype='object')