# Varios

Este notebook es para hacer varias pruebas. Empiezo con las pruebas para hacer los tests. Cómo se crean los dataframes para hacer los tests unitarios.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
cuentas_dict = {
    'num': ['100', '101', '102', '103', '104', '105'],
    'nombre': ['Caja1', 'Caja2', 'Caja3', 'Caja4', 'Caja5', 'Caja6'],
    'etiqueta': ['balance']*6
}

In [4]:
cuentas_dict

{'num': ['100', '101', '102', '103', '104', '105'],
 'nombre': ['Caja1', 'Caja2', 'Caja3', 'Caja4', 'Caja5', 'Caja6'],
 'etiqueta': ['balance',
  'balance',
  'balance',
  'balance',
  'balance',
  'balance']}

In [5]:
pd.DataFrame(cuentas_dict)

   num nombre etiqueta
0  100  Caja1  balance
1  101  Caja2  balance
2  102  Caja3  balance
3  103  Caja4  balance
4  104  Caja5  balance
5  105  Caja6  balance

In [6]:
cuentas_dict = {
            'num': ['100', '101', '102', '103', '104', '105'],
            'nombre': ['Caja1', 'Caja2', 'Caja3', 'Caja4', 'Caja5', 'Caja6'],
            'etiqueta': ['balance']*3 + ['wrong']*3
        }

In [7]:
cuentas_dict

{'num': ['100', '101', '102', '103', '104', '105'],
 'nombre': ['Caja1', 'Caja2', 'Caja3', 'Caja4', 'Caja5', 'Caja6'],
 'etiqueta': ['balance', 'balance', 'balance', 'wrong', 'wrong', 'wrong']}

## Creación de asientos

In [15]:
cuentas = ['100', '101']
asiento_dict = {
    'Fecha': ['2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13'],
    'Descripción': [ f'Movimiento {n+1}' for n in range(4) ],
    'Valor': [10.10, 11.11, 12.12, 13.13],
    'Debe': [cuentas[0]]*4,
    'Haber': [cuentas[1]]*4,
}

simple_df = pd.DataFrame(asiento_dict)
compleja_df = pd.DataFrame(columns=['id', 'Fecha', 'Descripción', 'Debe', 'Haber', 'Cuenta'])

In [16]:
simple_df

        Fecha   Descripción  Valor Debe Haber
0  2022-01-10  Movimiento 1  10.10  100   101
1  2022-01-11  Movimiento 2  11.11  100   101
2  2022-01-12  Movimiento 3  12.12  100   101
3  2022-01-13  Movimiento 4  13.13  100   101

In [10]:
compleja_df

Empty DataFrame
Columns: [id, Fecha, Descripción, Debe, Haber, Cuenta]
Index: []

In [20]:
simple_df.loc[0, 'Fecha'] = 'wrong'

In [21]:
simple_df

        Fecha   Descripción  Valor Debe Haber
0       wrong  Movimiento 1  10.10  100   101
1  2022-01-11  Movimiento 2  11.11  100   101
2  2022-01-12  Movimiento 3  12.12  100   101
3  2022-01-13  Movimiento 4  13.13  100   101